
.header-div {
    height: 250px;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Love Ya Like A Sister', cursive, Arial, Helvetica, sans-serif;
}

.text-div {
    margin-left: 40px;
    padding-bottom: 20px;
}

.text-div h1, .text-div h3 {
    margin: 5px;
} 


.input-div {
    background-color: white;
    padding: 40px;
    margin: -100px 10%;
    margin-top: 20px;
    box-shadow: 0 0 5px #333;
    border-radius: 1.5em;
    border-bottom: 30px solid var(--color-purple);
}
