
.button button{
    margin-right:10px;
    font-size: 14px;
    padding:10px 15px;
    background-color: var(--color-purple);
    border-radius: 50px;
    border:none;
    box-shadow: 0 0 5px black;
}

.button h1 {
    color: white;
    font-family: 'Love Ya Like A Sister', cursive, Arial, Helvetica, sans-serif;
}

.translation h2 {
 margin-top:40px;
 margin-bottom: -25px;
}
.translation {
   border-bottom: black 2px solid;
   padding-bottom:40px;
}