.sign {
    height: 80px;
    width: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
 
.sign img {
    width: 100%;
    height: 100%;
}
 
.sign p {
   text-align: center;
   font-size: 40px;
   justify-self: center;
}
 
.translation {
    padding: 1.5em;
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto; 
    min-height: 200px;
}
 
.box {
    box-shadow: 0 0 5px #333;
    border-radius: 1.5em;
    width: 100%;
    overflow: hidden;
    margin: auto; 
    margin-top: 35px;
}
 
.footer {
    background: var(--color-purple);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.footer p {
    background: var(--color-gray-light);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 30px;
}