


.input {
    background: #fff;
    width: calc(100% - 1.4em);
    display: flex;
    padding: 0.4em;
    padding-left: 1em;
    border-radius: 4em;
    box-shadow: 0 0 5px;
}

.input:focus-within {
    box-shadow: 0 0 10px;
}

.input input[type="text"]:focus {
    outline: none;
}

.input input[type="text"] {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 1.75em;
    margin-left: 0.25em;
    min-width: 0px;
}

.input button {
    height: 3em;
    width: 3em;
    border-radius: 2em;
    border: none;
    background: var(--color-purple);
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
