.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10%;
    background-color: var(--color-yellow);
    border-bottom: 4px solid var(--color-yellow-dark);
    color: white;
    font-family: 'Love Ya Like A Sister', cursive, Arial, Helvetica, sans-serif;
}

.header-text {
    display: flex;
    align-items: center;
    font-family: 'Love Ya Like A Sister', cursive, Arial, Helvetica, sans-serif;
}

.header-text h2 {
    font-family: 'Love Ya Like A Sister', cursive, Arial, Helvetica, sans-serif;
    color: white;
}

.header button{
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.header button h4{
    width: fit-content;
    font-weight: bold;
    border-radius: 25px 0 0 25px;
    background-color: var(--color-yellow-dark);
    height: 15px;
    margin: -2px;
    padding: 5px 10px;
    padding-right: 15px;
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-icon {
    align-self: center;
    color: var(--color-yellow-dark);
    background-color: white;
    border-radius: 50%;
}