@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


body {
  margin: 0;
  font-family: 'Oswald', sans-serif, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page{
  width: 80%;
  margin:10%;
}

.page-top {
  background-color: var(--color-yellow);
  padding: 40px 10%;
  padding-top: 60px;
}
.page-bottom {
  padding: 40px 10%;
  padding-top: 30px;
  
}


:root {
  --color-yellow: #FFC75F;
  --color-yellow-dark: #E7B355;
  --color-purple: #845EC2;

  --color-gray-light: #EFEFEF;
  --color-gray: #969696;
}